POSTGRES_DB=telecom_db
POSTGRES_USER=telecom_user
POSTGRES_PASSWORD=telecom_pass_secret
POSTGRES_PORT=5432

CLICKHOUSE_DB=telecom_analytics
CLICKHOUSE_USER=ch_user
CLICKHOUSE_PASSWORD=ch_pass_secret
CLICKHOUSE_PORT=8123

AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin_pass_secret
